/* Set assets path for different color variation */
/* Zen Green */
/*#b2cd49;*/
body {
  font-family: "Titillium Web", sans-serif;
  color: #5f5e5d;
  background: #45360C url(images/pattern_bamboo1.jpg); }

h1, h2, h3, h4, h5 {
  color: #333; }

a {
  color: #5f5e5d; }
  a:hover {
    text-decoration: none; }

.slider .video-container {
  border-color: #f2efe8; }

.header, .main {
  background: #f2efe8 url(images/pattern_lightpaperfibres.jpg); }

.header .logo-header {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); }
  .header .logo-header:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }
@media all and (max-width: 680px) {
  .header {
    /*background: #272727; //matching color of logo*/ } }

.menu {
  background: #61744E;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset; }
  .menu .sub-menu {
    background: #61744E; }
  .menu li a {
    color: #f2efe8; }
    .menu li a.active, .menu li a:hover {
      color: #45360C; }

.abstract h2, .contact h2, .big-title h2 {
  color: #4d4d4d; }
  .abstract h2:before, .abstract h2:after, .contact h2:before, .contact h2:after, .big-title h2:before, .big-title h2:after {
    background: #4d4d4d; }
.abstract h3, .contact h3, .big-title h3 {
  border-bottom: 2px solid #4d4d4d;
  color: #333; }
.abstract blockquote, .contact blockquote, .big-title blockquote {
  color: #7d6b70; }

.green-title {
  background: #61744E;
  color: #f2efe8; }

.event-item:not(:last-child) {
  border-bottom: 1px solid #80aa52; }
.event-item .event-name {
  color: #45360C;
  border: none;
  padding-bottom: 0; }
.event-item .event-date {
  color: #7d6b70;
  font-weight: 600;
  font-size: .9em; }
.event-item .event-image {
  border: 2px solid #80aa52; }

.services {
  background: #45360C url(images/bamboos.jpg);
  color: #f2efe8; }
  .services h3 {
    color: #61744E; }
  .services .service-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #61744E; }
    .services .service-item:hover {
      background: #61744E; }
      .services .service-item:hover p, .services .service-item:hover h3 {
        color: #f2efe8; }
    .services .service-item p {
      color: #45360C; }

.projects .single a {
  color: #61744E; }
.projects .single h2 {
  border-bottom: 2px solid #4d4d4d;
  border-top: 2px solid #4d4d4d; }
  .projects .single h2 a {
    color: #61744E; }
.projects .single li i {
  color: #61744E; }

.team h4 span {
  color: #5f5e5d; }
.team .member .image {
  border-bottom: 5px solid #c5d975; }
  .team .member .image p {
    color: #f2efe8; }
.team .member li a {
  color: #2b2b2b;
  background: #61744E; }
  .team .member li a:hover {
    color: #61744E;
    background: #2b2b2b; }

.contact {
  background: #61744E;
  color: #333; }
  .contact .title h2 {
    color: #333; }
    .contact .title h2:after, .contact .title h2:before {
      background: #333; }
  .contact .wpcf7-validation-errors {
    color: #ee2828;
    background: #fddede;
    border: 2px solid #fddede; }
  .contact .wpcf7-not-valid-tip {
    color: #ee2828; }
  .contact input.wpcf7-text, .contact textarea, .contact input.wpcf7-submit {
    font-family: "Titillium Web", sans-serif;
    color: #f2efe8; }
  .contact input.wpcf7-text, .contact textarea {
    background: #61744E;
    border: 1px solid #f2efe8; }
    .contact input.wpcf7-text::-webkit-input-placeholder, .contact textarea::-webkit-input-placeholder {
      color: #f2efe8; }
    .contact input.wpcf7-text::-moz-placeholder, .contact textarea::-moz-placeholder {
      color: #f2efe8; }
    .contact input.wpcf7-text:-ms-input-placeholder, .contact textarea:-ms-input-placeholder {
      color: #f2efe8; }
  .contact input.wpcf7-submit {
    border: 3px solid #333;
    background: #333;
    color: #61744E;
    text-transform: uppercase; }
    .contact input.wpcf7-submit:hover {
      color: #f2efe8; }

.footer {
  background: #45360C url(images/bamboos.jpg);
  color: #f2efe8; }
  .footer h4 {
    color: #f2efe8; }
  .footer .social ul {
    background: #313130; }
    .footer .social ul li a {
      color: #f2efe8; }
      .footer .social ul li a:hover {
        color: #61744E; }
  .footer .copyright {
    color: #5f5e5d; }

.back a {
  background: #61744E;
  color: #f2efe8; }

.blog-page .pagination a, .blog-page .post .post-link {
  border: 2px solid #61744E;
  color: #5f5e5d; }
  .blog-page .pagination a:hover, .blog-page .post .post-link:hover {
    border: 2px solid #61744E;
    background: #61744E;
    color: #f2efe8; }
.blog-page .thumbnail img {
  border-bottom: 5px solid #61744E; }
.blog-page .post a {
  color: #61744E; }
.blog-page .post h1 a, .blog-page .post h2 a, .blog-page .post h3 a, .blog-page .post h4 a, .blog-page .post h5 a {
  color: #333; }
.blog-page .post .tags, .blog-page .post .post-meta {
  color: #61744E; }
.blog-page .post li:before {
  color: #61744E; }
.blog-page .post.sticky h2 {
  background: url("images/sticky-heading-green.png") top center no-repeat; }
.blog-page .post.format-quote .the_excerpt p {
  background: #61744E;
  color: #f2efe8;
  font-style: italic; }
  .blog-page .post.format-quote .the_excerpt p:after {
    color: #5f5e5d; }

.comments-area .comments-title .fa-comment {
  color: #61744E; }
.comments-area .comment-author img {
  border-bottom: 5px solid #61744E; }
.comments-area .comment-meta a {
  color: #c7c7c8; }
.comments-area .comment-body {
  border-bottom: 1px solid #edecea; }
  .comments-area .comment-body .reply {
    border: 2px solid #61744E; }
    .comments-area .comment-body .reply:hover {
      background: #61744E; }
      .comments-area .comment-body .reply:hover a {
        color: #f2efe8; }

.comment-respond input, .comment-respond textarea {
  font-family: "Titillium Web", sans-serif;
  border: 1px solid #333;
  background: #f2efe8; }
.comment-respond .form-submit input {
  background: #333;
  color: #fff; }
  .comment-respond .form-submit input:hover {
    border: 1px solid #61744E;
    background: #61744E;
    color: #f2efe8; }

/*# sourceMappingURL=green.css.map */
