@import 'sass/_variables_purple';

body {
  font-family: $default-font;
  color: $default-color;
  background: $footer-background url(#{$assetPath}/pattern_bamboo1.jpg);
}

h1, h2, h3, h4, h5 {
  color: $header-color;
}

a {
  color: $default-color;

  &:hover {
    text-decoration: none;
  }
}

.header, .main {
  background: #f5f5f5 url(#{$assetPath}/pattern_lightpaperfibres.jpg);
}

.header {
  @media all and (max-width: 680px) {
    /*background: #272727; //matching color of logo*/
  }
}

.menu {
  background: $contact-background;

  .sub-menu {
    background: $contact-background;
  }

  li {
    a {
      color: $white;
      &.active, &:hover {
        color: $menu-hover;
      }
    }
  }
}

.slider {

  .container {
    .slides {
      li {
        div {
          color: $white;
          border-bottom: 5px solid $white;
          border-top: 5px solid $white;
        }
      }
    }

    .flex-direction-nav {
      a {
        background-color: $contact-background;
        color: $white;
      }
    }
  }
} //.slider ends

.abstract, .about, .contact {

  h2 {
    color: $border-color;

    &:before,
    &:after {
      background: $border-color;
    }
  }

  h3 {
    border-bottom: 2px solid $border-color;
    color: $custom-header;
  }
}

.services {
  background: $footer-background url(#{$assetPath}/pattern_bamboo1.jpg);
  color: $white;

  h2 {
    background: $services-h2-background;
    color: $white;
  }

  h3 {
    color: $services-h3;

    i {
      color: $white;
      background: url(#{$assetPath}/i-border.png) center bottom no-repeat;
    }
  }

  .service {

    .container div {
      border: 1px solid $services-h3;

      &:hover {
        background: $services-h3;

        h3 {
          color: $default-color;
        }

        p {
          color: $white;
        }
      }
    }

    p {
      color: #9b9b9b;
    }
  }
} //.services ends

.projects {

  ul.button-group li {

    a {
      color: $ul-url;

      &:hover, &.active {
        border: 2px solid $contact-background;
      }
    }
  }

  .single {

    a {
      color: $contact-background;
    }

    h2 {
      border-bottom: 2px solid $border-color;
      border-top: 2px solid $border-color;

      a {
        color: $contact-background;
      }
    }

    li {
      i {
        color: $contact-background;
      }
    }
  } //.single ends

} //.projects ends

.team {

  h4 {
    span {
      color: $default-color;
    }
  }

  .member {

    .image {
      border-bottom: 5px solid $member-image-border;

      p {
        color: $white;
      }
    }

    li {

      a {
        background: $dark-color;
        color: $contact-header-color;

        &:hover {
          background: $contact-header-color;
          color: $dark-color;
        }
      }
    }
  } //.member ends
} //.team ends

.contact {
  background: $contact-background;
  color: $header-color;

  .title {
    h2 {
      color: $header-color;

      &:after, &:before {
        background: $header-color;
      }
    }
  }

  .wpcf7-validation-errors {
    color: #ee2828;
    background: #fddede;
    border: 2px solid #fddede;
  }

  .wpcf7-not-valid-tip {
    color: #ee2828;
  }

  input.wpcf7-text, textarea, input.wpcf7-submit {
    font-family: $default-font;
    color: $white;
  }

  input.wpcf7-text, textarea {
    background: $contact-background;
    border: 1px solid $white;

    &::-webkit-input-placeholder {
      color: $white;
    }

    &::-moz-placeholder {
      color: $white;
    }

    &:-ms-input-placeholder {
      color: $white;
    }
  }

  input.wpcf7-submit {
    border: 3px solid $form-button;
    background: $form-button;
    color: $contact-background;
    text-transform: uppercase;

    &:hover {
      color: $white;
    }
  }
} //.contact ends

.footer {
  background: $footer-background url(#{$assetPath}/pattern_bamboo1.jpg);
  color: $white;

  h4 {
    color: $white;
  }

  .social {

    ul {
      background: #313130;
      li {
        a {
          color: $white;

          &:hover {
            color: $contact-background;
          }
        } //anchor ends
      }
    }

  }

  .copyright {
    color: $default-color;
  }
} //.footer ends

.back {
    a {
    background: $contact-background;
    color: $white;
  }
}

.projects {
  .load-more {
    border: 2px solid $contact-background;
  }
}

// WordPress Theme styles
.blog-page {

  .pagination a, .post .post-link {
    border: 2px solid $contact-background;
    color: $default-color;

    &:hover {
      border: 2px solid $contact-background;
      background: $contact-background;
      color: $white;
    }
  }

  .thumbnail img {
    border-bottom: 5px solid $contact-background;
  }

  .post a {
    color: $contact-background;
  }

  .post {

    h1, h2, h3, h4, h5 {
      a {
        color: $default-color;
      }
    }

    .tags, .post-meta {
      color: $contact-background;
    }

    li {
      &:before {
        color: $contact-background;
      }
    }

  }

  .post.sticky h2 {
    background: url('images/sticky-heading-purple.png') top center no-repeat;
  }

  .post.format-quote {

    .the_excerpt p {
      background: $contact-background;
      color: $white;
      font-style: italic;

      &:after {
        color: $default-color;
      }
    }
  }
}

.comments-area {

  .comments-title {
    .fa-comment {
      color: $contact-background;
    }
  }

  .comment-author {
    img {
      border-bottom: 5px solid $contact-background;
    }
  }

  .comment-meta a {
    color: #c7c7c8
  }

  .comment-body {
    border-bottom: 1px solid #edecea;

    .reply {
      border: 2px solid $contact-background;

      &:hover {
        background: $contact-background;

        a {
          color: $white;
        }
      }
    }
  }
}

.comment-respond  {
  input, textarea {
    font-family: $default-font;
  }
}